@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap');

:root {
  --primary: #B2CEF8;
  --secondary: #19456B;
  --hover: #11698e;
  --fonts: #F8F1F1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

body {
  background: var(--primary);
}

nav {
  background: #19456b;
  padding: 15px 60px;
}

ul {
  list-style-type: none;
}

a {
  color: #F8F1F1;
  text-decoration: none;
}

.menu li {
  font-size: 16px;
  padding: 10px 50px;
}

.menu li a {
  display: block;
}

.logo a {
  font-size: 25px;
}

.left {
  float:left;
  width:35%;
  padding:15px;
  margin-top: 190px;
  padding-left: 50px;;
}

.right {
  float:left;
  width:65%;
  padding-left: 60px;
  margin-top: 120px;
}

img {
  max-width: 90%;
  height: auto;
}

h1 {
  font-size: 38px;
  font-weight: bold;
}


p {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: lighter;
}

/* Mobile Menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  order: 1;
}

.item.button {
  order: 2;
}

.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}

.item.active {
  display: block;
}

.toggle {
  cursor: pointer;
}

.bars {
  background: #999;
  display: inline-block;
  height: 2px;
  position: relative;
  width: 18px;
}

.bars::before, .bars::after {
  background: #999;
  content: "";
  display: inline-block;
  height: 2px;
  position: absolute;
  width: 18px
}

.bars::before {
  top: 5px;
}

.bars::after {
  top: -5px;
}

/* Tablet Menu */
@media all and (min-width: 612px) {
  .menu {
    justify-content: left;
  }
  nav {
    padding: 10px 20px;
  }
  .logo {
    flex: 1;
  }
  .item.button {
    width: auto;
    order: 1;
    display: block;
    padding-right: 0px;
  }
  .toggle {
    order: 2;
  }
  .button.secondary {
    border: 0;
  }
  .button a {
    text-decoration: none;
    padding: 10px 25px;
    background: #F8F1F1;
    border-radius: 30px;
    color: var(--secondary);
  }

  .button a:hover {
    transition: all .25s;
    background: var(--hover);
    border-color: var(--hover);
    color: var(--fonts);
  }
}

@media all and (min-width: 990px) {
  .item {
    display: block;
    width: auto;
  }
  .toggle {
    display: none;
  }
  .logo {
    order: 0;
  }
  .item {
    order: 1;
  }
  .button {
    order: 2;
  }
  .menu li {
    padding: 15px 25px;
  }
  .menu li.button {
    padding-right: 20px;
  }
}

@media only screen and (max-width: 990px) {
  .left, .right {
    margin-top: 60px;
    width: 100%;
    padding: 0 60px;
  }
  h1 {
    font-size: 50px;
    font-weight: bold;
  }
  p {
    font-size: 25px;
    font-weight: lighter;
  }
}